.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
}

.fighter-preview___right {
  align-items: flex-end;
}

.fighter-preview___left {
  align-items: flex-start;
}

.fighter-preview___content {
  background: #ffdfa7;
  border: 5px solid #ca9650;
  padding: 10px;
  width: 100%;
  text-align: center;
  box-sizing: border-box;
}

.fighter-preview___right .fighter-preview___img {
  transform: scaleX(-1);
} 

.fighter-preview___img {
  max-height: 150px;
}


.fighter-preview___name {
  font-size: 25px;
  margin: 0 0 10px 0;
}

.fighter-preview___level {
  border: 1px solid #ca9650;
  border-radius: 10px;
  height: 15px;
  margin: 0 0 10px 0;
}

.fighter-preview___level_attack {
  background: #c64941;    
}

.fighter-preview___level_defense {
  background: #267abf;
}

.fighter-preview___level_health {
  background: #4b7c3d;
}

.fighter-preview___label {
  margin: 0;
  font-size: 12px;
  font-family: arial;
  color: #ca9650;
}